<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!-- Suite -->
<suite name="Suite">

	<!-- Test -->
	<test thread-count="5" name="Test">
	
	<groups>
		<run>
			<!-- <include name=""></include> -->
			<exclude name="getcall"></exclude>
		</run>
	</groups>

		<classes>
			<class name="com.GetCall.WeatherGetTests" />
		</classes>

	</test> 
	
	<test name="PostCalls">
	
	<groups>
		<run>
			<include name="postcall"></include>
		</run>
	</groups>
	
	
	<classes>
		<class name="com.PostCalls.DemoQA_Customer_PostCall"></class>
	</classes>
	
	</test>
</suite> 

